

<div class="flex-between">
  <div class="row" style="flex: 0 0 50%">
    <div class="garden-cards">
      <h1 class="title">Results for gardens</h1>
      <%= form_tag gardens_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a venue"%>
      <% end %>
      <% @gardens.each do |garden| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'garden.jpg'%>);">
            <h3 ><%= garden.title %></h3>
            <p class="card-description"><%= garden.address %></p>
            <%= link_to "See more details", garden_path(garden) , class: "card-link" %>

          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'maps' %>
<% end %>

